{% extends "base.html" %}  
{% block content %}
<form action="" method="post" name="edit">
    {{form.hidden_tag()}}
    <div   style=" background-color: white; margin:auto">
    <h1>编辑资料</h1>
    <table>
        <tr>
            <td>标题:</td>
            <td>{{form.title(size = 24)}}
            {% for error in form.errors.title %}
            <br><span style="color: red;">[{{error}}]</span>
            {% endfor %}
            </td>
            
        </tr>
        <tr>
            <td>内容:</td>
            <td>{{form.body(cols = 32, rows = 4)}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="保存"></td>
        </tr>
    </table>
    </div>
</form>
{% endblock%}


