{% extends "base.html" %}
{% block ext_css %}
    <link href="{{ url_for('static',filename='ext/syntaxhighlighter_3.0.83/styles/shCore.css') }}" rel="stylesheet"
          type="text/css">
    <link href="{{ url_for('static',filename='ext/syntaxhighlighter_3.0.83/styles/shCoreDefault.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='js/kindeditor-4.1.10/plugins/code/prettify.css') }}" rel="stylesheet"
          type="text/css">
{% endblock %}
{% block meta %}
    <meta name="description" content="{{ article.title }}"/>
    <meta name="keywords" content="{{ article.tag }}"/>
{% endblock %}
{% block content %}
    <div class="container white">
        <h3 class="text-center">
            {{ article.title }}
        </h3>
        <hr/>
        <div>
            {{ article.body|safe }}
        </div>
        <!-- UY BEGIN -->
        <hr/>
        <div id="uyan_frame" style="width: 65%"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1972001"></script>
        <!-- UY END -->
        <p class="text-left">
            <a href="{{ url_for('index') }}" class="btn btn-success ">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>回到主页</a>
            {% if g.user.is_authenticated() and g.user.is_admin() %}
                <a href="{{ url_for('article_edit',id=article.id) }}" class="btn btn-success ">编辑
            {% endif %}
            </a>
        </p>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='ext/syntaxhighlighter_3.0.83/scripts/shCore.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='ext/syntaxhighlighter_3.0.83/scripts/shBrushPython.js') }}"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/kindeditor-4.1.10/plugins/code/prettify.js') }}"></script>
    <script>
        prettyPrint();
    </script>
{% endblock %}

