{% extends "base.html" %}
{% block content %}
    <div class="input-group container">
        <form action="" method="post" name="article_form" id="article_form">
            {{ form.hidden_tag() }}
            <div class="row container">
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">标题</span>
                        {{ form.title(size=50,class="form-control") }}
                        {% for error in form.errors.title %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group ">
                        <span class="input-group-addon">类别</span>
                        {{ form.category_id(class="btn btn btn-default dropdown-toggle ") }}
                    </div>
                </div>
            </div>
            <hr/>
            <p>{{ form.body(cols = 100, rows = 15) }}</p>
            {% for error in form.errors.body %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <hr/>
            <input type="hidden" id='textformat' name='textformat'/>
            <button type="image" onclick="sumarticle()" class="btn btn-success" }}">提 交
            </button>
        </form>
    </div>
    <br/>
    <br/>
    <br/>
{% endblock %} 