{% extends "base.html" %}
{% block content %}
    <div class="container">
        <blockquote><h1>生有尽，而学无涯！</h1></blockquote>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;本人做运维有段时间了，接触到的东西多而杂：从
            <i class="h4"><label class="label label-default h3">WINDOWS</label></i>到
            <i class="h4"><label class="label label-default h3">LINUX</label></i>,从
            <i class="h4"><label class="label label-default h3">Apache,Tomcat等各种中间件环境配置，优化</label></i>到
            <i class="h4"><label class="label label-default h3">Oracle,sqlserver等各种数据库操作，优化.</label></i>，还有各种
            监控工具等。会的会的多，精力分散的也多。所以我一直有个想法，干脆去学一门开发语言算了。直到接触到了PYTHON。我就下定决心去学它。
            这个博客就当是我的开山作了。没搞过开发，代码肯定写的不怎么样。但还是附上GITHUB吧：</p>
    </div>
{% endblock %}