<footer class="alert " style="text-align: center">
    <hr class="ke-icon-hr"/>
    链接：|
    <a href="http://www.pythondoc.com/pythontutorial27/index.html" class="alert-link">Python</a>|
    <a href="http://dormousehole.readthedocs.org/en/latest/" class="alert-link">Flask</a>|
    <a href="http://www.sqlalchemy.org/" class="alert-link">sqlalchemy</a>|
    <a href="http://getbootstrap.com/" class="alert-link">Bootstrap</a>|
    <a href="http://glyphicons.com/" class="alert-link">Glyphicons </a>|
</footer>

