{% extends "base.html" %}
{% block content %}
    <div class="navbar-text navbar-right ">
        <div class="nav container-fluid bg-info">
            <ul class="nav nav-pills " role="tablist">
                <li role="presentation" class="active disabled"><a>主页</a></li>
                {% for c in category %}
                    <li role="presentation">
                        <a href="{{ url_for('index',categoryname=c.name,page=1) }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
                {% if g.user.is_authenticated() %}
                    <li role="presentation"><a href="{{ url_for('category_create') }}"><span
                            class="glyphicon glyphicon-plus"></span>新增</a></li>
                {% endif %}
                <form class="navbar-form pull-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </ul>
        </div>
        <div class="container">
            <div class=" pull-left" style="width: 80%">
                {% for art in article.items %}
                <div class="panel panel-default">
                    <div class="panel-heading"><a>{{ art.title }}</a></div>
                    <div class="panel-body"><strong>{{ art.text }}</strong></div>
                    <div class="panel-footer">footer</div>
                </div>
                {% endfor %}
                <div class="text-left">
                    <ul class="pagination pagination-lg">
                        <li ><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <div class=" pull-right" style="width: 20%">
                <div class="row spacer-bottom10">
                    {% if g.user.is_authenticated() %}
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">用户信息</div>
                            <div class="panel-body">
                                头像：<br/>
                                昵称：金<br/>
                                关于：案件的方法宋德福空间的口绝色赌妃<br/>
                                最后登陆时间：2014-09-09 22:22:30<br/>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">时间线：</div>
                            <div class="panel-body"><a href="#">2014-08 <span class="badge">10</span></a><br/>
                            <a href="#">2014-08 <span class="badge">10</span></a></div>
                        </div>
                    </div>
                    </div>
                    <div class="row spacer-bottom10 ">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">本站统计：</div>
                            <div class="panel-body">
                                日访问量：{{ tj.visit_day }}<br/>
                                总访问量：{{ tj.visit_all }}<br/>
                                文章总数：{{ tj.article_all }}<br/>
                                用户数量：{{ tj.user_all }}<br/>
                                登陆次数：{{ tj.login_all }}<br/>
                                总访问量：{{ tj.visit_all }}<br/>
                                当前时间：{{ tj.nowtimes }}<br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}