{% extends "base.html" %}
{% block content %}
    <nav class="navbar container navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">分类</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav nav-tabs navbar-nav" role="tablist" id="ctgtab">
                {% for c in category %}
                    {% if request.url.find(c.name)>=0 %}
                        <li role="presentation" class="active">
                            <a href="{{ url_for('index',categoryname=c.name,month=month,page=1) }}">{{ c.name }}</a>
                        </li>
                    {% else %}
                        <li role="presentation">
                            <a href="{{ url_for('index',categoryname=c.name,month=month,page=1) }}">{{ c.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if g.user.is_authenticated() and g.user.is_admin() %}
                    <li role="presentation"><a href="{{ url_for('category_create') }}"><span
                            class="glyphicon glyphicon-plus"></span> 新增</a></li>
                {% endif %}
            </ul>
            <form class="nav navbar-nav navbar-form navbar-right" action="{{ url_for('search') }}"
                  role="search">
                {{ g.search_form.hidden_tag() }}
                <div class="form-group">
                    {{ g.search_form.search(class="form-control" ,placeholder="本站搜索") }}
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </nav>
    <br/>

    <div class="container center-block">
        <div class=" pull-left" style="width: 70%;float: left">
            {% for art in article.items %}
                <div class="panel panel-default panel-info">
                    <div class="panel-heading text-left">

                        <a href="{{ url_for('article_show',title=art.title) }}">{{ art.title }}</a>
                        {% if g.user.is_authenticated() and g.user.is_admin() %}
                            <div class="pull-right">
                                <a class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="right"
                                   title="点击编辑"
                                   href="{{ url_for('article_edit',id=art.id) }}">编辑</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <small>{{ art.text[:125]+'...' }}</small>
                    </div>
                    <div class="panel-footer panel-default text-left">
                        标签:<a href="#"> {{ art.tag }} </a>
                        访问次数：{{ art.view_count() }}
                        <div class="pull-right">
                            最后编辑于：<span class="badge"><small>{{ art.timestamp }}</small></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="text-left">
                <ul class="pager">
                    {% if article.has_prev %}
                        <li class="previous">
                            <a href="{{ url_for('index', categoryname=categoryname,month=month,page = article.prev_num) }}">&larr;
                                Newer</a>
                        </li>
                    {% else %}
                        <li class="previous disabled">
                            <a>&larr; Newer</a>
                        </li>
                    {% endif %}
                    第{{ article.page }}页/共{{ article.pages }}页
                    {% if article.has_next %}
                        <li class="next"><a
                                href="{{ url_for('index', categoryname=categoryname,month=month,page = article.next_num) }}">Older &rarr;</a>
                        </li>
                    {% else %}
                        <li class="next disabled"><a>Older &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class=" pull-right" style="width: 20%">
            <div class="row spacer-bottom10">
                {% if g.user.is_authenticated() %}
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading ">
                                <a href="http://www.gravatar.com/" target="_blank">
                                    <img class="img-thumbnail" alt="Responsive image" src="{{ g.user.avatar(30) }}"
                                         title="点击编辑图像"/>
                                </a>
                                昵称：
                                <a class="btn btn-sm btn-default" href="{{ url_for('usereditinfo') }}"
                                   title="点击编辑个人信息"> {{ g.user.nicename }}
                                </a>

                            </div>
                            <div class="panel-body">
                                <div class="panel-footer"
                                     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    个性签名：{{ g.user.info }}</div>
                                <div class="panel-footer"
                                     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    上次离开：{{ g.user.last_seen }}</div>

                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">时间线：</div>
                        <div class="panel-body">
                            {% for ct in count %}
                                <span class="glyphicon glyphicon-arrow-right"></span>&nbsp
                                <a href="{{ url_for('index', categoryname=categoryname,month=ct.months,page = 1) }}">
                                    {{ ct.months }}&nbsp&nbsp <span class="badge"> {{ ct.num }}</span>
                                </a><br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">本站统计：</div>
                    <div class="panel-body">
                        日访问量：{{ tj.visit_day }}<br/>
                        总访问量：{{ tj.visit_all }}<br/>
                        文章总数：{{ tj.article_all }}<br/>
                        用户数量：{{ tj.user_all }}<br/>
                        登陆次数：{{ tj.login_all }}<br/>
                        总访问量：{{ tj.visit_all }}<br/>
                        当前时间：{{ tj.nowtimes }}<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}