<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-2.1.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap-datatables.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charisma.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ext/bootstrap-sco/js/sco.modal.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ext/bootstrap-sco/js/sco.confirm.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ext/bootstrap-sco/js/sco.tooltip.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/responsive-tables/responsive-tables.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery.pin.min.js') }}"></script>

<script type="text/javascript">
    //渐入
    function msgin() {
        $("#msg").fadeIn();
    }
    /*两秒消失*/
    function msgout() {
        $("#msg").fadeOut();
    }
    setTimeout("msgin()", 500);
    setTimeout("msgout()", 2500);
</script>
<script type="text/javascript">
    $(".pinned").pin({padding: {top: 50, bottom: 10}})
</script>