.bar_div{background-color: #2F7A0F;  
	height:30px;
	line-height:30px;
	margin-right:auto;
	margin-left:auto;
		}
.bar_a{ font-size:16px; 
	color:white; 
	text-decoration:none;
	
}
.bar_a:hover{ font-size:16px; 
	color:white; 
	text-decoration:none;
	border-style:groove;
	border-width:1px;
	border-color:#F2F2F2;
	border-bottom-style:none;
	padding:3px;
	background-color: #006600;
}
.title_div{background-color:#CC33FF; border:groove }