BODY	{
	FONT-SIZE: 14px;
	MARGIN: 0px;
	FONT-FAMILY: Arial, "宋体";
	background-color: #ffffff;
	color:#333333;
}
a { text-decoration:none;}
TD		{ FONT-SIZE: 12px; FONT-FAMILY: Arial, "宋体" }
TH		{ FONT-SIZE: 13px; FONT-FAMILY: Arial, "宋体" }
.log { font-size:14px; font-weight:bold}
.log a{ color:#2F2F2F}
.none 	{ FONT-SIZE: 0px; }
.p1		{ font-size:12px; color:#333333}
.p1	a	{ font-size:12px; color:#333333;}
.p2		{ font-size:14px; color:#5B5B5B; font-weight:bold; background:url(../images/menu_2.gif) no-repeat; display:block}
.p2_act		{ font-size:14px; color:#5B5B5B; font-weight:bold; background:url(../images/menu_1.gif) no-repeat;display:block}
.p2_act a{ color:#5B5B5B}
.p2	a	{ font-size:14px; color:#5B5B5B; font-weight:bold;}
.p18  { font-size:18px; color:#444; padding-left:25px; font-weight:bold}

.p16{ font-size:16px; color:#5D5D5D; font-weight:bold}
.white{ color:#FFFFFF}
.inputnone 	{

	background-color: #EEEEEE;
/*	border: 1px solid #999999;*/
}

/*
input {
	border: 1px solid #999999;
}
select {
	border: 1px solid #999999;
}
*/
button	{
	HEIGHT:24px; 
	border:1px solid #cccccc; 
	background: url(../images/tdbg.gif) repeat-x;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:8px;
	padding-right:8px;
}
button.sbtn	{
	line-height:19px;
	border:1px solid #cccccc;
	background:url(../images/tdbg.gif) repeat-x;
	padding-top:2px;
	padding-bottom:1px;
	padding-left:3px;
	padding-right:3px;
	color:#333;
}
/*----------Table Style----------*/
table.table1 {
	background-color:#C9D0E2;
	line-height:20px;
	color:#333333;
	font-size:14px
}

table.table1 td { font-size:14px
}
table.table1 th {
		height:20px;
	font-weight:normal;
	background-color: #f9f9f9;
	font-size:14px;
}
table.table1 th.p16 {
 font-weight:bold
}
table.table1 td.p13		{ font-size:16px; color:#037CAF; font-weight:bold}
table.table1 tr				{ background-color:#ffffff;height:24; }
table.table1 tr.BGCyellow	{ background-color:#ffcc00; }
table.table1 tr.BGCgray		{ background-color:#f7f7f7; }
table.table1 tr.BGCwhite	{ background-color:#ffffff;	}
table.table1 tr.BGCred		{ background-color:#ff0000;	}

table.table1 td.BGCyellow	{ background-color:#ffcc00; }
table.table1 td.BGCgray		{ background-color:#f7f7f7; }
table.table1 td.BGCwhite	{ background-color:#ffffff;	}
table.table1 td.BGCred		{ background-color:#ff0000;	}

/*-------------------------------------------------- op_act begin --------------------------------------------------*/
.op_act {
	
	width:140px;
	height:36px;
	line-height:36px;
	font-size:15px;
	text-align:center;
	color:#FFF;
	cursor:hand;
	font-weight:bold;
	background-color: #296AA6;
	border:1px solid #296AA6;
	cursor:hand;

}
.op_act a { color:#FFFFFF; font-weight:bold}
.op_nor {
	width:140px;
	height:36px;
	line-height:36px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	color:#333;
	cursor:hand;
	background-color:#80AAD2; 
	border:1px solid #6999C6;
	cursor:hand
}
.op_nor a { color:#ffffff}
/*-------------------------------------------------- op_act begin --------------------------------------------------*/
.op_act1 {
	
	width:120px;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-align:center;
	color:#FFF;
	cursor:hand;
	font-weight:bold;
	background-color: #4B96C1;
	border:1px solid #4B96C1;
		cursor:hand

}
.op_nor1 {
	width:120px;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-align:center;
	background:url(../images/menu_2.gif);
	color:#666;
	cursor:hand;
	background-color:#CEDBE6; 
	border-top:1px solid #CEDAE5;
	border-left:1px solid #CEDAE5;
	border-right:1px solid #CEDAE5;
	cursor:hand
}
/*-------------------------------------------------- nTab begin --------------------------------------------------*/
.nTab {
	MARGIN: 0px auto 0px; WIDTH: 100%; border:1px solid #E4E4E4; background-color:#fff; font-size:14px;
}
.nTab .TabTitle {
	CLEAR: both; OVERFLOW: hidden; HEIGHT: 30px; border-bottom:1px solid #E4E4E4;
}
.nTab .TabTitle .more{ text-align:right; font-size:12px; padding-right:10px; padding-top:10px; color:0974B7}
.nTab .TabTitle .more a{ color:0974B7}
.nTab .TabTitle .more a:hover {color:#FF9900}
.nTab .TabTitle UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.nTab .TabTitle LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 130px; CURSOR: pointer; PADDING-TOP: 4px; LIST-STYLE-TYPE: none; height:30px; padding-top:8px; 
}
.nTab .TabTitle .act { background-color:#FE7A19; color:#fff; font-weight:bold; 
	
}
.nTab .TabTitle .normal { border-right:2px solid #E4E4E4;background-color:#639BCC;color:#fff; font-weight:bold;
	
}
.nTab .TabContent { 
}
.noneTab {
	DISPLAY: none
}
/*-------------------------------------------------- List begin --------------------------------------------------*/
.idxList				{ color:#666; }
.idxList tr				{ padding-left:5px; padding-right:5px; height:25px; }
.idxList tr.BGgray		{ background-color:#F1F1F1; }
.idxList tr.BGgreen		{ background-color:#a2cc5d; color:#FFF; font-weight:bold; }
.idxList td				{ padding-left:10px; padding-right:10px; }
.idxList th				{ padding-left:10px; padding-right:10px; background-color:#fff1f7; color:#cf0e6d; font-size:14px; height:40px }
.idxList a		{ color: #666; text-decoration: none }
.idxList a:hover 		{ color: #F60; text-decoration: none }