{% extends "admin/base.html" %}
{% block ext_css %}
    <link href="{{ url_for('static',filename='js/responsive-tables/responsive-tables.css') }}" rel="stylesheet"
          type="text/css">

{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="#">后台</a></li>
        <li class="active">菜单编辑</li>
    </ol>
    <hr/>
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-tree-conifer red"></i> 菜单编辑</h2>
    </div>
    <hr/>
    <div class="center-text center container">
        <form action="" method="post" name="category_form" id="category_form">
            {{ form.csrf_token }}
            <div class="input-group col-md-6">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tree-conifer red"></i> 菜单名称</span>
                {{ form.name(class="form-control", placeholder="菜单名称") }}
            </div>
            <br/>

            <div class="input-group col-md-6">
                <span class="input-group-addon"><i class="glyphicon glyphicon-link red"></i> 菜单URL</span>
                {{ form.url(class="form-control", placeholder="菜单URL") }}
            </div>
            <br/>

            <div class="input-group col-md-6">
                <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign red"></i> 是否在用</span>
                {{ form.is_use(class="form-control") }}
            </div>
            <br/>

            <div class="input-group col-md-6">
                <span class="input-group-addon"><i class="glyphicon glyphicon-circle-arrow-down red"></i> 显示顺序</span>
                {{ form.seq(class="form-control", placeholder="显示顺序") }}
            </div>
            <br/>

            <div class="input-group col-md-6">
                <span class="input-group-addon"><i class="glyphicon glyphicon-picture red"></i> 菜单图标</span>
                {{ form.icon(class="form-control") }}
            </div>
            <br/>

            <div class="input-group col-md-6">
                <button type="submit" class="form-control btn btn-success">保 存 修 改</button>
            </div>
        </form>
    </div>
{% endblock %}