<html lang="zh">
<link href="{{ url_for('static',filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='css/bootstrap/bootstrap-responsive.min.css') }}" rel="stylesheet"
      type="text/css">
<link href="{{ url_for('static',filename='css/mycss.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='css/bootstrap/bootstrap-datatables.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='ext/bootstrap-sco/css/scojs.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='ext/bootstrap-sco/css/sco.message.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">

{% block ext_css %}
{% endblock %}
{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;IE=edge;width=device-width, initial-scale=1; charset=utf-8"/>
{% endblock %}
<head>
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static',filename='favicon.ico') }}">
    {% if title %}
        <title>{{ title }}-我的博客</title>
    {% else %}
        <title>我的博客</title>
    {% endif %}
</head>
<body>
{% block head %}
    {% include 'admin/head.html' %}
{% endblock %}

<div class="ch-container">
    <div class="row">
        <div class=" col-sm-2 col-lg-2">
            <div class="pinned sidebar-nav">
                <div class=" nav-canvas">
                    <div class="nav-sm nav nav-stacked">
                    </div>
                    <ul class="  nav nav-pills nav-stacked main-menu" role="tablist">
                        <li class="nav-header bg-success"><span><i
                                class="glyphicon glyphicon-tree-conifer"></i>  菜单</span></li>
                        {% for b in g.list_bar %}
                            {% if request.url.find(b.url)>=0 %}
                                <li class="active ajax-link"><a href="{{ b.url }}"><i
                                        class="{{ b.icon }}"></i> {{ b.name }}</a></li>
                            {% else %}
                                <li><a class="ajax-link" href="{{ b.url }}"><i class="{{ b.icon }}"></i> {{ b.name }}
                                </a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="col-lg-10 col-sm-10">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% include 'admin/script.html' %}
{% block script %}
{% endblock %}
</body>
</html>
